@page
@model MvcAppDemo.RazorPages.Pages.Employees.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EmployeeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeViewModel.Id" />
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Name" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Name" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Age" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Age" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Address" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Address" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Salary" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Salary" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Salary" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmployeeViewModel.IsActive" /> @Html.DisplayNameFor(model => model.EmployeeViewModel.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Email" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Email" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.PhoneNumber" class="control-label"></label>
                <input asp-for="EmployeeViewModel.PhoneNumber" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.Image" class="control-label"></label>
                <input asp-for="EmployeeViewModel.Image" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeViewModel.HireDate" class="control-label"></label>
                <input asp-for="EmployeeViewModel.HireDate" class="form-control" />
                <span asp-validation-for="EmployeeViewModel.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Department</label>
                <select asp-for="EmployeeViewModel.DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="EmployeeViewModel.DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
